.highlith-text h3 {
  position: relative;
  color: #000 !important;
}

.highlith-text h3::before {
  background: hsl(45, 100%, 70%) !important;
  content: "" !important;
  inset: 0 !important;
  position: absolute !important;
  transform: scaleX(0) !important;
  transform-origin: right !important;
  transition: transform 0.5s ease-in-out !important;
  z-index: -1 !important;
}

.highlith-text:hover h3::before {
  transform: scaleX(1) !important;
  transform-origin: left !important;
}